# Introduction
This is a demo of a publication ready jupyter notebook. It's a helper notebook for [this blog post](http://alephthoughts.com/2019-06-15-jupyterNB/)

## Markdown Cell
This is a markdown cell. You can convert your default code cell to markdown by pressing "Esc+m" on your keyboard or by clicking Cell -> Cell Type -> Markdown on the jupyter notebook menu.

## Code
We will create a simple pandas dataframe and print it out on the document. We will hide the code in the output pdf file.

In [1]:
import pandas as pd
df = pd.DataFrame({'Column A':[100, 200, 300, 400, 500], 'Column B':['First','Second','Third','Fourth','Fifth']})

Pandas dataframe looks like this.

In [2]:
df.head()

   Column A Column B
0       100    First
1       200   Second
2       300    Third
3       400   Fourth
4       500    Fifth

## Tabulate
Using Tabulate we can pretty print the table.

In [4]:
from tabulate import tabulate
df = df.set_index('Column A')
print(tabulate(df,tablefmt='pipe',headers="keys"))

|   Column A | Column B   |
|-----------:|:-----------|
|        100 | First      |
|        200 | Second     |
|        300 | Third      |
|        400 | Fourth     |
|        500 | Fifth      |

|   Column A | Column B   |
|-----------:|:-----------|
|        100 | First      |
|        200 | Second     |
|        300 | Third      |
|        400 | Fourth     |
|        500 | Fifth      |